

/* --------------------------------------
   Layout
   -------------------------------------- */

#features
{
   text-align: center;
}

#features img
{
   margin: 0 0 20px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */


body
{
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   font-family: 'News Cycle', sans-serif;

}

.well .page-header
{
   margin-top: 0;
}

.well .page-header h1
{
   margin-top: 0;
}

.navbar
{
   background: white;
   font-size: 18px;
}

.well
{
   background: linear-gradient(to bottom,#ffffff 0%,#dedede 100%);
}

.panel-heading
{
   background: linear-gradient(to bottom,#ffffff 0%,#dedede 100%);
}

#main .active a
{
   background-color: #a8a8d0;
}

.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus 
{
    
    background-color: transparent;
}

.nav-tabs a
{
   color: black;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */

#searchInput
{
   width: 200px;
} 

.navbar-brand
{
   padding: 10px 15px;
} 
   
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */


#myCarousel
{
   margin-top: 60px;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */

.well
{
   margin: 20px 0;
}

footer 
{
   background: linear-gradient(to bottom,grey 2%,#dedede 80%);
   color: black;
   font-size: 11px;

}

footer .col-12
{
   background-color: #7E1C35;
   margin-bottom: 10px;
}

.footer2
{
   background-color: white;
   margin-top: 10px;
}

.footer2 img
{
   border: 2px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1
{
   font-family: 'News Cycle', sans-serif;
}

h3
{
   font-family: 'News Cycle', sans-serif;
}

p
{
   font-family: 'News Cycle', sans-serif;
   font-size: 18px;
}

.tab-content li
{
   font-size: 18px;
}

.list-group-item-heading
{
   font-family: 'News Cycle', sans-serif;
   font-size: 18px;
}

.list-group-item-text
{
   font-size: 18px;
}

#moreInfo
{
   background-color: #d7d7e6;
   background: linear-gradient(to bottom, #d7d7e6 10%, grey 100%)
}

.container li
{
   font-size: 14px;
}

section
{
   font-size: 16px;
}

#features img
{
   box-shadow: 5px 10px 12px 0 rgba(0, 0, 0, 0.2), 5px 10px 12px 0 rgba(0, 0, 0, 0.19)
}


#footerIcons
{
   text-align: center;
}